@model EmployeeViewModel
@{
    ViewData["Title"] = "Details";

}

<h1>Employee Details</h1>
<br />
<br />

<div class="row">
    <div class="col-12">
        <div class="form-group">
            <label asp-for="@Model.Name" class="col-form-label"></label>
            <input asp-for="@Model.Name" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.Salary" class="col-form-label"></label>
            <input asp-for="@Model.Salary" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.Address" class="col-form-label"></label>
            <input asp-for="@Model.Address" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.Email" class="col-form-label"></label>
            <input asp-for="@Model.Email" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.HireDate" class="col-form-label"></label>
            <input asp-for="@Model.HireDate" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.ImageName" class="col-form-label"></label>
            <input asp-for="@Model.Image" class="form-control" />
        </div>

        <br />
        <input type="submit" value="Edit" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-light">Back To list</a>

    </div>
</div>





